.vscode/**
.vscode-test/**
.github/**
.git/**
.venv/**
node_modules/**
out/**/*.map
tests/**
docs/**
src/**/*.ts
TEMP_README.md
report.md
test.drawio
*.drawio
*.svg
*.png
.env
.gitignore
.gitattributes
eslint.config.mjs
tsconfig.json
.vscode-test.mjs
**/.DS_Store
